<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
<%= render :partial => "therapists/shared/t_view_header" %>
<div class="t-view-main">

  <!-- PUT THERAPIST VIEW PAGE CONTENT BELOW HERE -->


          <div class="tabbed-views-wrapper">
            <h1 class="welcome">Notes for <%= @client_name %></h1>
              <div class="tabs">
                  <div class="tab-a active">
                      <button id="tab-a-btn">View Previous Notes</button>
                  </div>
                  <div class="tab-b">
                      <button id="tab-b-btn">Add a New Note</button>
                  </div>
              </div>
              <div class="tabs-content">
                  <div class="active" id="tab-a-content">
                    <div class="view-notes-container">
                      <% if @notes.count > 0 %>
                        <%= render :partial => "notes/shared/note_card" %>
                      <% else %>
                        <h1>You have not left <%= @current_client.first_name %> any notes. Leave a note!</h1>
                      <% end %>
                    </div>
                  </div>
                  <div id="tab-b-content">
                    <div class="note-form-container">
                      <%= form_for Note.new, url: create_note_path(@client_id), method: :post do |f| %>
                        <div class="note-form-row">
                          <%= f.label :title, value:"Subject:", class:"note-title-label" %>
                          <%= f.text_field :title, class:"note-title-input", value:""%>
                        </div>
                        <div class="note-form-row">
                          <%= f.label :message, value:"Note:", class:"note-text-label" %>
                          <%= f.text_area :message, :required => true, rows: 10, class:"note-text-area"%>
                          <%= f.hidden_field :client_id, value: @client_id %>
                          <%= f.hidden_field :therapist_id, value: @therapist_id %>
                        </div>
                        <div class="note-form-footer">


            <div class="privacy privacy-toggle">
              <div class="togglePrivacy">
                <%= f.check_box :shared, { id: "togglePrivacy", class: "togglePrivacy", checked:"checked" }, false, true %>
                <label class="togglePrivacy-label" for="togglePrivacy"><span></span></label>
              </div>
            </div>

            <div>
              <%= f.submit "Submit", class: "button" %>
            </div>



                        </div>
                      <% end %>
                    </div>

                  </div>
              </div>
          </div>

























  <!-- END THERAPIST VIEW PAGE CONTENT -->


</div>
</div>
