<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
<%= render :partial => "therapists/shared/t_view_header" %>
<div class="t-view-main">

  <!-- PUT THERAPIST VIEW PAGE CONTENT BELOW HERE -->

  <div class="note-form-container">
    <%= form_for Note.new, url: create_note_path(@client_id), method: :post do |f| %>
      <div class="note-form-row">
        <%= f.label :title, value:"Subject:", class:"note-title-label" %>
        <%= f.text_field :title, class:"note-title-input", value:"New Note"%>
      </div>
        <%= f.text_area :message, rows: 10, class:"note-text-area"%>
        <%= f.hidden_field :client_id, value: @client_id %>
        <%= f.hidden_field :therapist_id, value: @therapist_id %>
        <%= f.submit "Add Note", class:"button"%>
    <% end %>
  </div>

<div class="view-notes-container">
<%= render :partial => "notes/shared/note_card" %>
</div>

  <!-- END THERAPIST VIEW PAGE CONTENT -->


</div>
</div>
