<% @notes.each do |n| %>
    <div class="note-card">
      <div class="note-title-row">
          <div class="note-title-label view-note"><h3><i class="fa fa-pencil"></i><%= n.title %></h3></div>
          <div class="note-privacy-info">
              <% if n.shared == false %>
                <div class="private note-status selected">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    <span class="status">private</span>
                </div>
              <% elsif n.shared == true && current_user.userable_type == "Therapist" %>
                <div class="shared note-status selected">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="status">shared</span>
                </div>
              <% end %>
          </div>
      </div>
      <div class="note-message-content">
          <p><%= n.message %></p>
          <div class="note-message-footer">
            <% if current_user.userable_type == "Client" %>
              <div class="note-authorship">
                <span>by <%= @client_therapist.first_name %> <%= @client_therapist.last_name %> on </span>
              </div>
            <% elsif current_user.userable_type == "Therapist" %>
              <div class="note-authorship"><span>created on</span></div>
            <% end %>
              <div class="note-date-info">
                  <span class="date"><%= n.created_at.strftime("%B %d at %I:%M %p") %></span>
              </div>
          </div>
      </div>
    </div>
<% end %>
