<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
<%= render :partial => "therapists/shared/t_view_header" %>
<div class="t-view-main">


    <!-- PUT THERAPIST VIEW PAGE CONTENT BELOW HERE -->
    <div class="c-activity">
      <div class="filter_title">
        <a href="#" class="filter_event">Events</a>
        <a href="#" class="filter_entry">Entries</a>
        <a href="#" class="filter_mood">Mood</a>
        <a href="#" class="filter_all active">All</a>
      </div>
      <%= render :partial => "therapists/shared/entries_card" %>
      <%= render :partial => "therapists/shared/events_card" %>
      <%= render :partial => "therapists/shared/surveys_card" %>

    </div>

    <!-- END THERAPIST VIEW PAGE CONTENT -->

</div>
</div>
