<!-- <!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>All Is Well</title> -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body> -->
      <div class="header-container">
        <header>
            <div class="site-logo">
              <i class="material-icons">perm_media</i>
            </div>
            <div class="user-welcome">
              <p>Welcome, <%= @therapist.first_name %> <%= @therapist.last_name %></p>
            </div>
            <div class="menu-icon">
                <i class="material-icons">menu</i>
            </div>
        </header>
      </div>

      <div class="nav-container">
        <nav class="therapist">
            <div>Home</div>
            <div>Account</div>
            <div>Logout</div>
        </nav>
      </div>

        <main>
          <div class="t-index">
            <div class="sort">
              <a href="#" class="sort_urgent">Sort by name</a>
              <a href="#" class="sort_name active">Sort by activity</a>
            </div>
          <% @clients.each do |c| %>
            <div class="patient_card">
                <p class="id_number"><%= c.id %></p>
                <p class="pt_name"><%= c.first_name %> <%= c.last_name %></p>
                <i class="material-icons show">error</i>
            </div>
          <% end %>
          <!-- <div class="patient_card">
              <p class="id_number">ID#</p>
              <p class="pt_name">CLIENT NUMBER TWO</p>
              <i class="material-icons show">error</i>
          </div>
          <div class="patient_card">
              <p class="id_number">ID#</p>
              <p class="pt_name">CLIENT NUMBER THREE</p>
              <i class="material-icons show">error</i>
          </div>
          <div class="patient_card">
              <p class="id_number">ID#</p>
              <p class="pt_name">CLIENT NUMBER FOUR</p>
              <i class="material-icons show">error</i>
          </div>
          <div class="patient_card">
              <p class="id_number">ID#</p>
              <p class="pt_name">CLIENT NUMBER FIVE</p>
              <i class="material-icons hide">error</i>
          </div>
          <div class="patient_card">
              <p class="id_number">ID#</p>
              <p class="pt_name">CLIENT NUMBER SIX</p>
              <i class="material-icons hide">error</i>
          </div>
          <div class="patient_card">
              <p class="id_number">ID#</p>
              <p class="pt_name">CLIENT NUMBER SEVEN</p>
              <i class="material-icons hide">error</i>
          </div> -->
        </div>
        </main>


        <footer><a href="#">Return to Top</a></footer>

        <!-- <script src="/app/assets/javascripts/vendor/vendor.min.js"></script> -->
        <!-- <script src="/app/assets/javascripts/header.js"></script> -->
    <!-- </body>

</html> -->
