<div class="header-container">
  <header>
      <div class="site-logo">
        <i class="material-icons">perm_media</i>
      </div>
      <div class="user-welcome">
        <p>Welcome, <%= current_user.userable.first_name %> <%= current_user.userable.last_name %></p>
      </div>
      <div class="menu-icon">
          <i class="material-icons">menu</i>
      </div>
  </header>
</div>

  <nav class="therapist">
    <%= link_to "/#{current_user.userable_type.downcase}/#{current_user.userable.id}" do %>
      <div>Home</div>
    <% end %>
    <%= link_to "/#{current_user.userable_type.downcase}/profile/#{current_user.userable.id}" do %>
      <div>Account</div>
    <% end %>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <div>Logout</div>
    <% end %>
  </nav>
