
  <header>

      <div class="site-logo">
        <h3><span class="site-title">all is well</span>Hi, <%= current_user.userable.first_name %> <%= current_user.userable.last_name %></h3>
      </div>


      <nav class="header-nav">
        <%= link_to "/#{current_user.userable_type.downcase}" do %>
          <div class="header-nav-opt" id="nav-home">Home</div>
        <% end %>
        <%= link_to "/#{current_user.userable_type.downcase}/profile" do %>
          <div class="header-nav-opt" id="nav-account">Account</div>
        <% end %>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <div class="header-nav-opt">Logout</div>
        <% end %>
      </nav>

    <div id="header-nav-icon">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

  </header>
