<%= form_for :therapist, url: new_therapist_path, method: :post do |f| %>
<div class="new-therapist">
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name %><br/>

  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name %><br/>

  <%= f.label :cred %><br/>
  <%= f.text_field :cred %><br/>

  <%= f.label :phone %><br/>
  <%= f.text_field :phone %><br/>

  <%= f.label :email %><br/>
  <%= f.text_field :email %><br/>

  <%= form_for :user do |u| %>
    <%= u.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
    <%= u.password_field :password, autocomplete: "off" %>

    <%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation, autocomplete: "off" %><br />
    <%= f.submit "Register" , :class => 'submit_registration'%><br />
  </div>
  <% end %>
<% end %>
