<%= form_for :therapist, url: new_therapist_path, method: :post do |f| %>
<div class="new-therapist">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :cred %> 
  <%= f.text_field :cred %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= form_for :user do |u| %>
    <%= u.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    <%= u.password_field :password, autocomplete: "off" %>

    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.submit "Register" , :class => 'submit_registration'%>
  </div>
  <% end %>
<% end %>
