<!-- if user is a therapist, edit should be included as a class in outer section. -->
  <section class="t-data data edit">

    <div class="data-block name"><h3>Client Name: </h3><span><div><%= @client_name %></div><a class="edit">Edit</a></span></div>
      <aside class="name disappear">
        <div>
          <input class="edit-data" type="text" id="first_name" placeholder="<%= @current_client.first_name %>"/>
          <input class="edit-data" type="text" id="initial" placeholder="<%= @current_client.initial %>"/>
          <input class="edit-data" type="text" id="last_name" placeholder="<%= @current_client.last_name %>"/>
        </div>
          <input class="button" type="submit" value="Submit"/>
      </aside>

    <div class="data-block dob"><h3>Date of Birth: </h3><span><div><%= @client_dob %></div><a class="edit">Edit</a></span></div>
      <aside class="dob disappear">
        <div>
          <input class="edit-data" type="text" id="dob" placeholder="<%= @client_dob %>"/>
          <!-- <input class="edit-data" type="number" id="date" placeholder="DD"/>
          <input class="edit-data" type="number" id="year" placeholder="YYYY"/> -->
        </div>
        <input class="button" type="submit" value="Submit"/>
    </aside>

    <div class="data-block phone">
      <h3>Primary Phone Number: </h3>
      <span>
        <div>
          <%= @client_phone %>
        </div>
        <a class="edit">Edit</a>
      </span>
    </div>
      <aside class="phone disappear">
        <div>
          <input class="edit-data" type="text" id="phone" placeholder="<%= @client_phone %>"/>
        </div>
        <input class="button" type="submit" value="Submit"/>
      </aside>

    <div class="data-block em_phone"><h3>Emergency Phone Number: </h3><span>
      <div>
        <% if @client_contact %>
          <%= @client_contact %>
        <% end %>
      </div><a class="edit">Edit</a></span></div>
      <aside class="em_phone disappear">
        <div>
          <input class="edit-data" type="text" id="em_phone" placeholder="098-765-4321"/>
        </div>
        <input class="button" type="submit" value="Submit"/>
      </aside>

    <div class="data-block my-therapist"><h3>My Therapist: </h3><span><div><%= @therapist_name %></div><a class="edit">View</a></span></div>
      <aside class="my-therapist disappear">
        <div>
          <%= render :partial => "clients/shared/t_profile" %>
        </div>
      </aside>

  </section>
