<% @events.each do |e| %>
  <div class="patient_card event activity-card <%= 'read' if e.read %>" data-activity-type="<%= e.class.name %>" data-id="<%= e.id %>">
    <% e.read = true %>
    <% e.save! %>
    <div class="activity-type">
      <i class="fa fa-star-o"></i>
      <p>Event - <span class="type-of"> <%= e.event_type %> </span></p>
    </div>
    <p class="time"><%= e.created_at.strftime("%B %d, %Y at %I:%M %P") %></p>
    <p hidden>
      <%= e.read %>
    </p>
    <p hidden class="event-content">
      <%= e.description %>
    </p>
  </div>
<% end %>
