
<% unless @clients.nil? %>
  <% @clients.each do |c| %>
    <%= link_to "/therapist/c_profile/#{c.id}", class:"patient-link" do %>
      <div class="patient_card" data-id="<%= c.updated_at %>">
          <p class="id_number"><%= c.id %></p>
          <p class="pt_name"><%= c.first_name %> <%= c.last_name %></p>
          <p class="pt_wellness"> <%= c.wellness %></p>
          <i class="fa fa-exclamation-circle show"></i>
      </div>
    <% end %>
  <% end %>
<% end %>
