
<% unless @clients.nil? %>
  <% @clients.each do |c| %>
    <%= link_to "/therapist/activity/#{c.id}", class:"patient-link" do %>
      <div class="patient_card" data-id="<%= c.updated_at %>">
          <p class="id_number"><%= c.id %></p>
          <p class="pt_name"><%= c.first_name %> <%= c.last_name %></p>
          <p class="pt_wellness"> <%= c.wellness %><%= "%" if c.wellness != nil %></p>
          <% if (Survey.where(client_id: c.id, read: false).count + Post.where(client_id: c.id, read: false).count + Event.where(client_id: c.id, read: false).count) > 0 %>
            <i class="fa fa-bell-o show"></i>
          <% else %>
            <i></i>
          <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
