<h1>
  <%= current_user.userable.id %>
</h1>
<% unless @clients.nil? %>
  <% @clients.each do |c| %>
    <%= link_to "/client/#{c.id}" do %>
      <div class="patient_card" data-id="<%= c.updated_at %>">
          <p class="id_number"><%= c.id %></p>
          <p class="pt_name"><%= c.first_name %> <%= c.last_name %></p>
          <i class="fa fa-exclamation-circle"></i>
      </div>
    <% end %>
  <% end %>
<% end %>
