

<%= form_for :event, url: create_event_path, method: :post do |e| %>
  <div class="date-type-container">
    <div class="event-date">
      <label for="event-date">Event Date: </label>
      <%= e.date_field :date, id: "event-date" %>
    </div>

    <div class="event-type">
      <label for="event-type">Nature of the Event: </label>
      <%= select_tag(:event_type, options_for_select(['good', 'not so good', 'neither good nor bad'])) %>
    </div>
  </div>

  <div class="event-text">
    <label for="event-text">Describe the Event: </label>
    <%= e.text_area :description, id: "event-text" %>
  </div>
  <%= e.submit "Submit", class: "button" %>
<% end %>
