
<%= form_for :event, url: create_event_path, method: :post do |e| %>


  <div class="date-type-container">
    <div class="event-date">
      <label for="event-date">Event Date: </label>
      <%= e.date_field :date, :required => true, id: "event-date" %>
    </div>

    <div class="event-type">
      <label for="event-type">Nature of the Event: </label>
      <div class="radio-choices">
        <%= radio_button_tag(:event_type, "good") %>
        <%= label_tag(:event_type, "Good") %>
        <%= radio_button_tag(:event_type, "not so good") %>
        <%= label_tag(:event_type, "Not So Good") %>
        <%= radio_button_tag(:event_type, "neither good nor bad") %>
        <%= label_tag(:event_type, "Neither Good Nor Bad") %>
      </div>
    </div>
  </div>

  <div class="event-text">
    <label for="event-text">Describe the Event: </label>
    <%= e.text_area :description, :required => true, id: "event-text" %>
  </div>
  <% if flash[:danger] %>
    <div class="notice">
      <%= flash[:danger] %>
    </div>
  <% end %>
  <%= e.submit "Submit", class: "button" %>
<% end %>
