<article class="entry-view disappear" id="add-entry">

  <!-- <form id="new-entry"> -->

    <!-- <h2>Type a Journal Entry</h2> -->
    <div id="new-entry">
    <%= form_for Post.new, url: create_entry_path, method: :post do |e| %>
      <% e.hidden_field :client_id, value: current_user.userable_id %>
      <!-- <fieldset id="title"> -->
      <div class="title">
        <label for="title">Title:</label>
        <%= e.text_field :title, id: 'title', :required => true, :maxlength => 90 %>
      </div>
        <!-- <input id="title" name="title"/> -->
      <!-- </fieldset> -->

      <!-- <fieldset id="text"> -->
        <!-- <label for="entry-text">Entry:</label> -->
      <div class="text">
        <%= e.label :body, 'Entry: ' %>
        <%= e.text_area :body, :required => true, id: 'entry-text' %>
      </div>
        <!-- <textarea id="entry-text" name="entry-text"></textarea> -->
      <!-- </fieldset> -->

        <section class="add-entry-footer">
          <div class="privacy privacy-toggle">
            <div class="togglePrivacy">
              <%= e.check_box :sharable, { name: 'togglePrivacy', checked: 'checked', class: 'togglePrivacy', id: "togglePrivacy"}, false, true %>
              <label class="togglePrivacy-label" for="togglePrivacy"><span></span></label>
            </div>
          </div>

          <div><%= e.submit 'Submit', class: 'button' %></div>
          <!-- <input type="submit" class="button" value="Submit Entry"/> -->
        </section>
    <% end %>
  </div>
  <!-- </form> -->

</article>
