<% @entries.each do |e| %>
  <section class="entry-card">
    <div class="entry-text-container">
      <h2 class="title"><%= e.title %></h2>

      <div class="entry-text">
        <%= e.body %>
      </div>
    </div>
    <div class="entry-timestamp">
      <span class="entry-date"><%= e.created_at.to_date %></span><span class="entry-time"><%= e.created_at.strftime("%H:%M") %></span>
    </div>
    <div class="privacy">
      <div class="togglePrivacy">
        <%= check_box 'togglePrivacy', '0', id:"togglePrivacy", class: 'togglePrivacy'%>
        <label class="togglePrivacy-label" for="togglePrivacy"><span></span></label>
      </div>
    </div>

  </section>
<% end %>
