<% @entries.each do |e| %>
  <section class="entry-card">
    <div class="entry-text-container">
      <h2 class="title"><%= e.title %></h2>

      <div class="entry-text">
        <%= e.body %>
      </div>
    </div>
    <div class="entry-timestamp">
      <span class="entry-date"><%= e.created_at.to_date %></span><span class="entry-time"><%= e.created_at.strftime("%H:%M") %></span>
    </div>
    <div class="privacy">
      <div class="togglePrivacy">
        <!-- <%= check_box 'togglePrivacy', '0', id:"togglePrivacy", class: 'togglePrivacy'%>
        <label class="togglePrivacy-label" for="togglePrivacy"><span></span></label> -->
        <div class="note-privacy-info">
            <% if e.shared == false %>
              <div class="private note-status selected">
                  <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  <span>private</span>
              </div>
            <% elsif e.shared == true %>
              <div class="shared note-status selected">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <span>shared</span>
              </div>
            <% end %>
        </div>

      </div>
    </div>

  </section>
<% end %>
