<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllIsWell</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" 'data-turbolinks-track': 'reload'>

    <%= javascript_include_tag 'application' %>
  </head>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>

      <% if current_user %>
        <%= render :partial =>'partials/header' %>
      <% end %>
      <% if current_user == nil %>
        <%= render :partial =>'partials/guest_header' %>
      <% end %>


    <%= yield %>


  </body>
</html>
