<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AllIsWell</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <body>

        <%= render 'partials/header' %>

        <%= yield %>

        <!-- <%= render 'partials/footer' %> -->

    </body>
</html>
